{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">

        <h1 class="heading-xlarge">
          Cindarella shall go to the ball!
        </h1>
        <iframe src="https://giphy.com/embed/1iTIRztBbSRkp2pi" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      </div>




    </div>
  </div>

</main>

{% endblock %}
