{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      When's this salty little shindig happening then?
      </h1>

      <h2 class="heading-medium">
      Date
    </h2>

<p style="color:red; font-weight:bold">(autherror!value=//**datesbeforemates#fail!?FFS=when?=Thursday14December)</p>

    <h2 class="heading-medium">
    Time
  </h2>

  <p style="color:red; font-weight:bold">(autherror!value=//**ticktock#fail!?FFS=xmast1me=6.30pm)</p>

  <h2 class="heading-medium">
  Location
</h2>

<p style="color:red; font-weight:bold">(autherror!value=//**locationlocationlocation#fail!?FFS=restaurant=<a href="http://www.george-southwark.co.uk/festive-fayre" target="new">The George</a>)</p>

<br>
      <p>
        <a class="button button-start" href="more" role="button">I'm so excited I could shit</a>
        <img src="public/images/mr-hankey.png" alt="">
      </p>


    </div>
    <div class="column-third">


        <iframe src="https://giphy.com/embed/5KuPVqoVRvQcg" width="386" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>



    </div>
  </div>

</main>

{% endblock %}
