{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      HO(DAAT) HO(DAAT) HO(DAAT)
      </h1>

    <p>You are cordially invited to an evening of festive merriment with service optimisation.</p>

    <p>You'll be treated to all the Sparkles, Holly, Ivy, Turkey and Treats (SHITTS) your heart could desire. </p>

    <p>You can download a Christmas Business Strategy and Party Planning Accounts Report by logging into Poise, going to the welcome area and walking through the smallest door. </p>

    <p>Featuring:</p>

      <ul class="list list-bullet">
        <li>jingles</li>
        <li>jangles</li>
        <li>boozing</li>
        <li>lols</li>
        <li>bants</li>
        <li>jumpers</li>
        <li>trousers</li>
        <li>hangovers</li>
        <li>people</li>
        <li>chairs</li>
        <li>toilets</li>
        <li>and more...</li>
      </uL>

<h3>Dress code: casual black tie sportswear with a twist</h3>

<p>Venue:</p>

<p>(autherror!value="//"locationlocationlocation#fail?!ffs=restaurantname)</p>
      <p>
        <a class="button button-start" href="#" role="button">I want in!</a>
      </p>


    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
