{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Me too my wafty little Stinking Bishops!
      </h1>
<p>Just a few more details and you'll be ready to dance the night away.</p>

      <h2 class="heading-medium">
    Mandatory dress code
    </h2>

<p>Casual black tie sportswear with a festive twist</p>

    <h2 class="heading-medium">
    Evil santa
  </h2>

<p>Please bring a gift up to the value of £10. Regifting or creative gifts encouraged!</p>


  <h2 class="heading-medium">
  RSVP
</h2>

<p>Nadia.huq@digital.homeoffice.gov.uk or Slack.</p>

<br>
      <p>
        <a class="button button-start" href="confirmation" role="button">Yee-haw! I'm ready to party</a>
      </p>


    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <p><img src="public/images/garland.jpg" alt=""></p>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
